# My Jupyter Notebook on IBM Watson Studio

**Daniel** 

My desired occupation is data scientist

*I am interested in data science because it allows me to work flexibly with interesting topics and environments while potentially helping people*

### The code bellow adds 1 to 1 and should give an output of 2

In [2]:
print(1 +1)

2

* This
* Is
* A
* Bulleted 
* List 


1. This
2. Is
3. A 
4. Numbered 
5. List

Here is the [link]( https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran)